<%- include('layouts/header') %> <%-include('layouts/navbar') %> <%-
include('layouts/sidebar') %>
<div id="layoutSidenav_content">
  <main>
    <div class="container-fluid px-4">
      <h1 class="mt-4">Buku Tamu</h1>
      <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
        <li class="breadcrumb-item active">Tamu</li>
      </ol>
      <a href="/admin/tambah-tamu" class="btn btn-primary mb-2">+ tamu</a>
      <div class="card mb-4">
        <div class="card-header">
          <i class="fas fa-table me-1"></i>
          Daftar Tamu
        </div>
        <div class="card-body">
          <table id="datatablesSimple">
            <thead>
              <tr>
                <th>No. </th>
                <th>Nama Tamu</th>
                <th>No. Whatsapp</th>
                <th>Email Tamu</th>
                <th>Kamar Dipesan</th>
                <th>Kelas Kamar</th>
                <th>Aksi</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>No. </th>
                <th>Nama Tamu</th>
                <th>No. Whatsapp</th>
                <th>Email Tamu</th>
                <th>Kamar Dipesan</th>
                <th>kelas kamar</th>
                <th>Aksi</th>
              </tr>
            </tfoot>
            <tbody>
                <% guest.forEach((g, index) => { %>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= g.nama_tamu %></td>
                <td><%= g.nomor_wa %></td>
                <td><%= g.email %></td>
                <td><%= g.kamar_dipesan %></td>
                <td><%= g.kelas_kamar %></td>
                <td>
                  <a href="/admin/editTamu/<%= g.id_tamu %>" class="btn btn-warning btn-sm">Edit</a> || <a href="/admin/hapusTamu/<%= g.id_tamu %>" class="btn btn-danger btn-sm" onclick="confirm('yakin hapus data ?')">Hapus</a>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
  

<%- include('layouts/footer.ejs') %>
